body{
	background-color: #ebebeb;
	font-family: Monaco, "Lucida Console", monospace;
	font-size: 12pt;
	letter-spacing: 0pt;
	color: #000;
	padding: 0px;
	border: 0px;


}

a:link{text-decoration:none;color:#000;}
a:visited{text-decoration: none;color:#000;}
a:hover{text-decoration:underline;} 

.nav{
	min-height: 10px;
	position: fixed;
	width: 1000px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.info{
	position: absolute;
	text-align: right
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	left: 0px;
	top: 80px;
	width: 200px;
	height: 100px;
}

.order{
	position: absolute;
	text-align: right;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    right: 0px;
    top: 80px;
	width: 200px;
	height: 100px;
}

.matrix{
	width: 640px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.thum{
	width: 160px;
	height: 140px;
	float: left;
}

.slideshow{
	width: 900px;
	height: 550px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}

.slideshow .window {
	position: relative;
	width: 900px;
	height: 550px;
	overflow: hidden;
	z-index: -100;
}

.slideshow .window .slides {
	height: 550px;
	width: 3000px;
}

.slideshow .window .prev {
	display: block;
	position: absolute;
	width: 100px;
	bottom: 20px;
	left: 80px;
	padding-top: 500px;
}

.slideshow .window .next {
	display: block;
	position: absolute;
	width: 100px;
	bottom: 20px;
	right: 80px;
	padding-top: 500px;
	text-align: right;
}

.projecttitle{
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	margin-top: 40px;
	font-size: 1em;
}

.projectinfo{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 640px;
	font-size: 1em;
	line-height: 140%;
	border: 20px;
}
.process{
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}
.diagram1{
	width: 310px;
	height: 180px;
	margin-top: 40px;
	margin-left: 0px;
}

.processinfo{
	margin-top: 20px;
	margin-right: 0px;
	width: 640px;
	font-size: 0.8em;
	line-height: 140%;
	margin-bottom: 20px;
}

.diagram2{
	width: 310px;
	height: 180px;
	margin-top: -180px;
	margin-left: 320px;
}

.video{
	margin-left: 0px;
	margin-top: 40px;
}

ul{
	list-style-type: none;
	padding: 0;
	font-size: 1em;
	text-decoration: bold;
}
footer{
	margin-top: 40px;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8em;
	margin-bottom: 40px;
}